{% extends 'base.html' %}

{% block title %}Author Page{% endblock %}

{% block navbar %}
{% if loggedInUser %}
    <div class="navbar-menu is-active navbar-end">
        <div class="navbar-item ">
            <form action="/logout" method="post">
                <button class="button is-active is-primary" type="submit">Log Out</button>
            </form>
        </div>
    </div>
{% else %}
    <div class="navbar-menu is-active navbar-end">
        <div class="navbar-item">
            <button class="button is-active is-primary"><a class="navbarLink" href="/signup">Sign Up</a></button>
        </div>
        <div class="navbar-item">
            <button class="button is-active is-primary"><a class="navbarLink" href="/login">Log In</a></button>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="titlePage">{{ user.username | upper }}</h2>
          
    <div class="login">
        <div>
            <h2>Posts Made: <strong>{{ numPosts }}</strong></h2>
            <h3>Total Likes Recieved On Posts: <Strong>{{ totalLikes }}</Strong></h3>
            {% for post in posts %}
                <li><a href="/post/{{post.id}}">{{ post.title }}</a></li>
            {% endfor %}
        </div>
        
        <hr>
        
        <div>
            <h2>Comments Made: <strong>{{ numComments }}</strong></h2>
            {% for comment in comments %}
                <li><a href="/post/{{comment.post.id}}">{{ comment.comment }}</a></li>
            {% endfor %}
        </div>
        
        <hr>
        
        <div>
            <h2>Posts Liked: <strong>{{ numLikes }}</strong></h2>
            {% for like in likes %}
                <li><a href="/post/{{like.post.id}}">{{ like.post.title }}</a></li>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


