<h1>HOME PAGE</h1>
{% if loggedInUser %}
<h1>Welcome, {{ loggedInUser.username }}!</h1>
<form action="/logout" method="post">
    <button type="submit">Log Out</button>
</form>
<button><a href="/post">Create Post</a></button>
{% else %}
<button><a href="/signup">Sign Up</a></button>
<button><a href="/login">Log In</a></button>

{% endif %}

{% for message in messages %}
{{ message }}
{% endfor %}

{% if posts %}
{% for post in posts %}
<ul>
    <li><a href="/post/{{post.id}}">{{ post.post }}</a></li>
</ul>
{% endfor %}
{% else %}
Be the first to make a post!
{% endif %}


