<h1>SPECIFIC POST PAGE</h1>

{{ post.user.username}}
{{ post.title }}
{{ post.category }}
{{ post.post }}
{{ post.created.strftime('%B %d, %Y %H%M') }}
{{ post.likes }}

{% if loggedInUser %}
<form action="/post/{{post.id}}" method="post">
    <input type="text" name="comment" id="comment">
    <button type="submit">Comment</button>
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</form>
{% endif %}




{% for comment in comments %}
    <ul>
        <li>{{ comment.author.username }}</li>
        <li>{{ comment.comment }}</li>
    </ul>
{% endfor %}
